.site-header{
    padding: 18px 0;
}

.header{
    @include Display($direction:row,$content:space-between,$item:center,$gap:0);
}

.header__left-part{
    @include Display($direction:row,$content:start,$item:center,$gap:20px);
}

.header__navbar{
    @include Display($direction:row,$content:start,$item:center,$gap:0);
}
.navbar__link{
    @include textStyle($fw:500,$fs:Medium,$fsz:18px,$lh:100%,$ls: 0%,$tal:center,$color:$color-black);
    padding: 18px 16px;
}

.header__right-part{
    @include Display($direction:row,$content:start,$item:center,$gap:24px);
}
.header__right-tel{
    @include textStyle($fw:600,$fs:Medium,$fsz:18px,$lh:100%,$ls: 0%,$tal:auto,$color:$color-black);
}
.header__mode-btn{
    @include buttonStyle($width:58px,$height:58px,$bgColor:$color-gray,$padding:0,$border:none,$brr:50%);
    @include Display($direction:row,$content:center,$item:center,$gap:0);
    
    transition: all 0.3s;

    &:hover{
        background-color: $color-green;
        color: $color-white;
    }
}

.header__auth-btn{
    @include buttonStyle($width:auto,$height:auto,$bgColor:$color-green,$padding:18px 30px,$border:2px solid transparent,$brr:100px);
    @include Display($direction:row,$content:center,$item:center,$gap:8px);
    @include textStyle($fw:500,$fs:Medium,$fsz:18px,$lh:100%,$ls: 0%,$tal:center,$color:$color-white);
    transition: all 0.3s;

    &:hover{
        background-color: transparent;
        border-color: $color-green;
        color: $color-green;
    }
}