.hero__section{
    @include Display($direction:row,$content:center,$item:center,$gap:0);
    width: 100%;
}
.hero__container{
    @include Display($direction:column,$content:start,$item:center,$gap:0);
    @include buttonStyle($width:1200px,$height:500px,$bgColor:$color-green,$padding:60px 0,$border:none,$brr:20px);
    background-image: url("../images/hero-bg.svg");
    background-repeat: no-repeat;
    // opacity: 0.2;
}

.hero__title{
    @include Display($direction:column,$content:start,$item:center,$gap:10px);
    width: 416px;
    text-align: center;
}

.hero__name{
    @include textStyle($fw:600,$fs:Medium,$fsz:36px,$lh:100%,$ls:0%,$tal:center,$color:$color-white);
}

.hero__desc{
    @include textStyle($fw:400,$fs:Medium,$fsz:16px,$lh:100%,$ls:0%,$tal:center,$color:$color-white);
}

.hero__input {
    @include buttonStyle($width:600px,$height:66px,$bgColor:none,$padding:22px,$border:none,$brr:100px);
    position: absolute;
    margin-top: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.6s;
    transform-origin: center;

    &:hover {
        transform: scale(1.1);
    }

    &:hover ~ .search__btn {
        transform: scale(1.1);
    }

    &:active {
        border: none;
    }
}

.search__btn {
    @include buttonStyle($width:58px,$height:58px,$bgColor:$color-green,$padding:0,$border:none,$brr:50%);
    position: absolute;
    margin-top: 405px;
    right: 665px;
    transition: all 0.6s;
    transform-origin: center;
}