@mixin Display($direction,$content,$item,$gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $item;
    gap: $gap;
}

@mixin buttonStyle($width,$height,$bgColor,$padding,$border,$brr){
    width: $width;
    height: $height;
    background-color: $bgColor;
    padding: $padding;
    border: $border;
    border-radius: $brr;
}

@mixin textStyle($fw,$fs,$fsz,$lh,$ls,$tal,$color){
    font-weight: $fw;
    font-style: $fs;
    font-size: $fsz;
    line-height: $lh;
    letter-spacing: $ls;
    text-align: $tal;
    color: $color;
}