
@font-face {
  font-display: swap; 
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/livvic-v15-latin/livvic-v15-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/livvic-v15-latin/livvic-v15-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/livvic-v15-latin/livvic-v15-latin-700.woff2') format('woff2');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --clr-menu-bg:#2C6269;
    --clr-lightgreen:#014E56;
    --clr-darkgreen:#004047;
    --clr-extradarkgreen:#012F34;
    --clr-pink:#F67E7E;
    --clr-white:white;
    --clr-black:black;
}

body{
    font-family: "Livvic", sans-serif;
    background-color: var(--clr-lightgreen);
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Sise Header start */
.site-header{
  padding: 73px 0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navbar{
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_logo-link{
  display: inline-block;
}

.navbar__item, .menu__item, .footer_item{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: var(--clr-white);
  transition: all 0.3s;
}

.navbar__item:hover{
  color: var(--clr-pink);
  transform: scale(1.1);
}

.header__logo-wrapper{
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__connest-likn, .menu__btn, .contact-section-btn{
  padding: 10px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  border: 2px solid var(--clr-white);
  color: var(--clr-white);
  border-radius: 24px;
  transition: all 0.3s;
}

.header__connest-likn:hover{
  background-color: var(--clr-white);
  color: var(--clr-lightgreen);
}

.header__menu-btn{
  background-color: transparent;
  border: none;
  display: none;
}

/* Menu style */
.modal-wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000090;
  backdrop-filter: blur(5px);
  transform: scale(0); 
}

.modal-inner{
  position: absolute;
  width: 70%;
  height: 100vh;
  background-color: var(--clr-menu-bg);
  right: -100%;
  transition: all 0.3s;
}

.menu__close-icon{
  background: transparent;
  border: none;
  position: absolute;
  top: 56px;
  right: 25px;
}

.menu__wrapper{
  padding-top: 112px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 36px;
}

.menu__btn{
  max-width: 159px;
  background: transparent;
}

.show-wrapper{
  transform: scale(1);
}
.show-inner{
  right: 0;
}

@media(max-width: 591px){
  .header__navbar, .header__connest-likn{
    display: none;
  }
  .header__menu-btn{
    display: block;
  }

  .site-header{
  padding: 49px 0;
}
}

@media(max-width: 800px){
  .header__logo-wrapper{
    gap: 48px;
  }
}
/* Sise Header end */

/* hero section start */
.hero-section{
  padding: 57px 0 140px;
  background-image: url("../images/Group\ 8.svg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: right bottom;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__title{
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  letter-spacing: 0px;
  color: var(--clr-white);
}

.hero__content-wrapper{
  max-width: 730px;
}

.hero__line{
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: var(--clr-pink);
  margin-bottom: 40px;
}

.hero__desc{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: var(--clr-white);
}

@media (max-width: 825px) {
  .hero-section{
    padding: 49px 0 112px;
  }
  .hero{
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  .hero__content-wrapper{
    width: 60%;
  }
  .hero__line{
    display: none;
  }

  .hero__title{
    line-height: 56px;
  }

  .hero__desc{
    font-size: 15px;
    line-height: 28px;
  }
}
@media(max-width: 591px) {
  .hero-section{
    padding: 40px 0 108px;
    background-image: url("../images/about-mobile-bg.svg");
    background-size: 100px 100px;
  }
  .hero__content-wrapper{
    width: 100%;
  }
  .hero__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
}
/* hero section end */

/* middle section start */
.middle-section{
  width: 100%;
  padding: 140px 0;
  background-color: var(--clr-darkgreen);
  background-image: url("../images/directors-bg.svg");
  background-repeat: no-repeat;
}

.directors-container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.directors__title{
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--clr-white);
  margin-bottom: 64px;
}

.directors__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}

.director__items{
  padding-bottom: 30px;
}

.directors__item{
  width: 100%;
  min-height: 250px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--clr-extradarkgreen);
}

.directors__item-name{
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--clr-lightgreen);
}

.directors__item-work{
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--clr-white);
}

.directors__item-btn{
  position: absolute;
  margin-top: 190px;
  background-color: var(--clr-pink);
  border-radius: 50%;
  border: none;
  width: 56px;
  height: 56px;
  color: var(--clr-darkgreen);
  font-size: 35px;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s;
}

.directors__item-btn:hover{
  background-color: var(--clr-lightgreen);
}


@media (max-width: 800px){
  .middle-section{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .directors__container{
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
  }
  .directors-container{
    width: 80%;
  }
  .directors__item{
    width: 100%;
    /* margin-top: 48px; */
  }
}

@media (max-width: 591px){
  .middle-section{
    padding: 88px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/directors-mobi-bg.svg");
    background-size: 100px 100px;
  }

  .directors__container{
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .directors-container{
    width: 90%;
  }

  .directors__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
}
/* middle section end */

/* client section start */
.client-section{
  width: 100%;
  background-image: url("../images/clients-bg.svg");
  background-color: var(--clr-extradarkgreen);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-container{
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 140px 0;
}

.client-title{
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--clr-white);
}

.clients{
  width: 80%;
  display: flex;
  gap: 100px;
}

@media(max-width: 800px){
  .client-section{
    background-image: url("../images/client-bg-laptop.svg");
    background-size: 200px 100px;
  }
  .client-container{
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center; 
  }
  .client-title{
    font-size: 32px;
    line-height: 32px;
  }
  .clients{
    gap: 30px;
  }
}

@media(max-width: 591px){
  .client-section{
    background-image: url("../images/client-mobi-bg.svg");
    background-size: 100px 100px;
  }
  .client-container{
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center; 
  }
  .client-title{
    font-size: 32px;
    line-height: 32px;
  }
  .clients{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
}
/* client section end */

/* contact section start */
.contact-section{
  background-color: var(--clr-pink);
  background-image: url("../images/contact-bg.svg");
  background-repeat: no-repeat;
  background-size: 200px 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container{
  padding: 76px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.contact-section-btn{
  background-color: transparent;
  color: var(--clr-extradarkgreen);
  border: 2px solid var(--clr-extradarkgreen);
}
.contact-section-btn:hover{
  background-color: var(--clr-extradarkgreen);
  color: var(--clr-lightgreen);
}
.director_card{
  display: none;
}

.card_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icons-card{
  display: flex;
  gap: 20px;
}

.contact-title{
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  color: var(--clr-extradarkgreen);
}

@media(max-width: 800px){
  .contact-title{
    font-size: 32px;
    line-height: 32px;
  }
  .contact-section{
    background-size: 200px 300px;
  }
}
@media(max-width: 591px){
  .contact-title{
    font-size: 32px;
    line-height: 32px;
  }
  .contact-container{
    padding: 83px 0;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .contact-section{
    background-size: 200px 500px;
  }
}
/* contact section end */

.site-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
  background-color: var(--clr-extradarkgreen);
}
.footer-container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_wrapper{
  display: flex;
  gap: 125px;
}
.icon-footer{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer_items{
  display: flex;
  gap: 40px;
}

.footer_adress{
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.footer_link{
  display: flex;
  flex-direction: column;
  gap: 51px;
  right: 100px;
}

.social{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.footer_link p{
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: right;
  color: #FFFFFF;
}

@media(max-width: 800px){
  .footer-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .footer_wrapper{
    width: 100%;
    display: flex;
  }
  .footer_adress{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
  .footer_link{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .social{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
}

@media(max-width: 591px){
  .site-footer{
    padding: 66px 0;
  }
  .footer-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .footer_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .icon-footer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_adress{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .footer_link{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .social{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

