body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 30%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
        "a a b c d"
        "e f g g d"
        "e h g g j"
        "k h l p p";
    border: 2px solid blueviolet;
    padding: 30px;
    border-radius: 20px;
}


.bg{
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.div1{
    grid-area: a;
}

.div4{
    grid-area: d;
}

.div5{
    grid-area: e;
}

.div7{
    grid-area: g;
}
.div9{
    grid-area: h;
}

.div12{
    grid-area: p;
}

